.home__container{
    background: url('../image/gym-people.jpg');
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    position: relative;
}
.home__container h2{
    position: absolute;
    top: 25%;
    left: 10%;
}
.join-btn{
    position: absolute;
    top: 40%;
    left: 10%;
}
.feature__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}
.feature__card{
    width: 30%;
    background-color: var(--color-bg-variant);
    padding: var(--padding-sm);
    box-shadow: 2px 2px 2px;
     border-radius: 0.2rem;
}
.feature__text{
    text-align: center;
    margin: 1.5rem;
}
.feature__card p{
    font-size: 0.7rem;
}
.feature__img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.2rem;
}

.show_feature_btn_container{
    position: relative;
    padding: 2rem;
}
.show_feature_btn{
    position:absolute;
    right: 5px;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: var(--text-color);
    font-size: 1rem;
    
}
.download_article{
    background-color: var(--color-bg-variant);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* flex-wrap: wrap; */
}
.download_article div{
    width: 60%;
    position: relative;
}
.download_article p{
    font-size: 0.7rem;
}
.downloadapp_img{
    width: 30%;
    height: 150px;
}
.download_btn{
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: var(--text-color);
    font-size: 1rem;
    margin: 1rem 0;   
}
.download_btn_2{
    position: absolute;
    right: 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: var(--text-color);
    font-size: 1rem;
    margin: 1rem 0;   
}


.testimony_section{
    padding:0 2rem ;
    display: flex;
    max-width: 100%;
    flex-wrap:nowrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 2rem 0;
    position: relative;
}
.testimony__article{
    padding: 1rem;
    min-height: 150px;
    min-width: 20%;
    background-color: var(--color-bg-variant);
    position: relative;
}
.testimony__article p{
    font-size: 0.7rem;
}
.testimony__image{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;   
}
.testimony__article small{
    position: absolute;
    right: 2px;
    bottom: 10px;
    font-size: 0.5rem;
    color: var(--text-color);
}
.left_scroll_btn{
    position: absolute;
    left: 10px;
    bottom: 30%;
    z-index: 5;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.right_scroll_btn{
    position: absolute;
    right: 10px;
    bottom: 30%;
    z-index: 5;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.scroll__btn{
    color: var(--color-primary);
    font-size: 2rem;
    background-color: transparent;
    /* background-color: var(--text-color); */
    
}
